body {
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
     
}

/*
*,
*:before,
*:after {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; 
      overflow-x:hidden;
}*/
/*
h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}*/
img{
  max-width: 100%;
  height: auto;
}
@media screen and (max-width: 640px) {
  iframe {
    max-width: 100%;
  }
}



html,body{
  font-family:Roboto;
  font-size:16px;
  line-height:1.4;
  height:100%;
  margin:0;
  padding:0}
a{
  text-decoration:none;
  color:inherit
}
.container{
    margin:0 20px;
    overflow:hidden;
    *zoom:1
}
.site-content{
  padding-top:66px
}
.header {
  position: static;
  left: 0;
  right: 0;
  height: 66px;
  line-height: 66px;
  color: #FFF;
  background-color: #00bad2;

}
.header a {
  color: white;
}

.header a:hover {
  color: white;
}

.header__logo {
  font-weight: bold;
  padding: 0 25px;
  float: left;
}
.menu {
  float: left;
}
.menu a {
  padding: 0 10px;
}

@media only screen and (max-width: 750px) {
  .site-pusher, .site-container {
    height: 100%}
    .site-container {
      overflow: hidden;
    }
    .site-pusher {
      -moz-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -moz-transform: translateX(0px);
      -ms-transform: translateX(0px);
      -webkit-transform: translateX(0px);
      transform: translateX(0px);
    }
    .site-content {
      position: absolute;
      top: 66px;
      right: 0;
      left: 0;
      bottom: 0;
      padding-top: 0;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
    }
    .header {
      position: static;
    }
    .header__icon {
      position: relative;
      display: block;
      float: right;
      width: 50px;
      height: 66px;
      cursor: pointer;
    }
    .header__icon:after {
      content: '';
      position: absolute;
      display: block;
      width: 1rem;
      height: 0;
      top: 16px;
      left: 15px;
      -moz-box-shadow: 0 10px 0 1px #fff, 0 16px 0 1px #fff, 0 22px 0 1px #fff;
      -webkit-box-shadow: 0 10px 0 1px #fff, 0 16px 0 1px #fff, 0 22px 0 1px #fff;
      box-shadow: 0 10px 0 1px #fff, 0 16px 0 1px #fff, 0 22px 0 1px #fff;
    }
    .menu {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      /*overflow-y: scroll;   N'affiche pas le menu sur mobile*/
      -webkit-overflow-scrolling: touch;
      background-color: #00bad2;
      width: 250px;
      -moz-transform: translateX(250px);
      -ms-transform: translateX(250px);
      -webkit-transform: translateX(250px);
      transform: translateX(250px);
    }
    .menu a {
      display: block;
      height: 40px;
      text-align: center;
      line-height: 40px;
      border-bottom: 1px solid rgba(0, 153, 255, 0.44);
    }
    .with--sidebar .site-pusher {
      -moz-transform: translateX(-250px);
      -ms-transform: translateX(-250px);
      -webkit-transform: translateX(-250px);
      transform: translateX(-250px);

    }
    .with--sidebar .site-cache {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.6);
    }
  }